:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

/*
  
        Estruturas
  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--body-bg-color);
}

main {

    display: flex;
}

a {
    text-decoration: none;
}

footer {

}

/*
  
        Ids
  
*/

#content-sidebar {
    height: inherit;
    width: 300px;

    padding: 2% 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-middle {
    height: inherit;
    width: 700px;

    padding: 2% 2%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#perfil-nome {
    margin-bottom: 10px;

    font-weight: 700;
}

#perfil-descricao {
    margin-bottom: 20px;

    font-size: 8px;
    font-weight: 400;
}

/*
  
        Classes
  
*/

.frame {
    width: 100%;

    margin: 15px 0;

    padding: 7% 5%;

    border-radius: 15px;

    background-color: var(--bg-cards);
}

.frame-menor {
    width: 100%;

    margin: 15px 0;

    padding: 4% 5%;

    border-radius: 15px;

    background-color: var(--bg-cards);
}

.frame-titulo {
    margin-bottom: 15px;
    font-size: 14px;
}

.frame-titulo-smb {
    font-size: 14px;
}

.perfil {
    text-align: center;
}

.img-perfil {
    height: 85px;
    width: 85px;

    margin-bottom: 18px;

    border-radius: 100%;
}

.img-perfil-smb {
    height: 85px;
    width: 85px;

    border-radius: 100%;
}

.outline {
    outline: 2px solid rgb(6,243,10);
}

.space-between {
    display: flex;
    justify-content: space-between;
}

div.pastas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.div-pasta-x {
    width: 47.5%;
    height: 150px;
}

.post {
    display: flex;

    align-items: center;
}

.links-row {
    padding: 7px 0;

    display: flex;
    align-items: center;
}

.alinhamento-esquerdo {
    padding-left: 10px;
}

.img-icons {
    height: 18px;
    width: 18px;

    filter: invert(59%) sepia(9%) saturate(934%) hue-rotate(209deg) brightness(84%) contrast(89%);

    margin-right: 15px;
}

.post-descricao {
    margin-left: 15px;
}

.tech-row {
    margin: 10px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.text-titulo {
    font-size: 10px;
    font-weight: 700;
}

p.text-small {
    font-size: 9px;
    font-weight: 400;
}

p.text-small-1 {
    margin-top: 15px;
    margin-bottom: 18px;
    font-size: 10px;
    font-weight: 400;
}

p.text-small-mt {
    margin-top: 5px;
    font-size: 9px;
    font-weight: 400;
}

p.text-small-2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}

p.text-small-3 {
    font-size: 14px;
    font-weight: 700;
}

p.tech-nome {
    height: 15px;
    width: 30%;

    font-size: 8px;
    font-weight: 700;

    color: #22212C;
    background-color: var(--bg-techs);

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

p.ml-p {
    margin-left: 15px;
}

.pasta-linha-1 {
    display: flex;
}

.pasta-linha-2 {
    display: flex;
}

.img-icons-pasta {
    height: 15px;
    width: 15px;

    filter: invert(59%) sepia(9%) saturate(934%) hue-rotate(209deg) brightness(84%) contrast(89%);
}

.img-mr {
    margin-right: 10px;
}

.pl2-flex-1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pl2-flex-2 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: right;
}

ul {
    margin-left: 25px;
    margin-bottom: 10px;
}

